.NavBar {
    background-color: rgba(106, 0, 148, 0.800);
    text-align: center;
    font-weight: bold;
  }
  
  .NavBar a {
    padding: 0.5em 0;
    width: 10em;
    display: inline-block;
    color: white;
    text-decoration: none;
  }
  
  .NavBar a:hover {
    background-color: rgb(7, 39, 0);
    color: white !important;
  }
  
  .NavBar a.active {
    font-weight: bold;
    color: black;
  }